extends layout2

block content
    form(action='/products/products_add', method='POST')
      title ADD Product
      .register-page
        .form
          p(style= 'color: white; font-size: 18px') Προσθέστε προϊόν!
          input(type='text', placeholder='Όνομα Προιόντος', name='name_in')
          input(type='text', placeholder='Περιγραφή Προιόντος', name='description_in')
          input(type='text', placeholder='Κατηγορία Προιόντος', name='category_in')
          input(type='text', placeholder='Tags Προιόντος ', name='tags_in')
          button Προσθήκη
