extends layout2

block content
    form(action='/products/products_delete', method='POST')
      title DELETE
      .register-page
        .form
          p Συμπληρώστε το ID του Προιόντος που θέλετε να διαγράψετε 
          input(type='text', placeholder='ID Προιόντος', name='id_in')
          button Διαγραφή 
