doctype html

//- use if your pug files have similarities to avoid copying large blocks of same code.
html
  head
    link(rel='stylesheet', href='css/homepage.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

block content
  title Home
  br
  footer
      p(class="bottom") Copyright &copy; Online Price Tracker 2018

  body


  #parent

      if Product
        each prod, i in Product
          #narrow
            div(class="display_products")
              .image
              div(class="display_products")
                div  Όνομα Προϊόντος: #{prod.name}
                div  Περιγραφή: #{prod.description}
                a(href='product_details') Προβολή λεπτομερειών


  #navbar
      a.active(href='#home')
      i.glyphicon.glyphicon-home
      a(href='#upload') Ανεβάστε Τιμή
      a(href='#contact') Επικοινωνία
      a(href='login', style='float:right') Σύνδεση
      a(href='register', style='float:right') Εγγραφή

  .sidenav
        input(type='text', target="m",  placeholder='Αναζήτηση..')
        a(href='#about') Κατηγορίες
        a(href='#services') Κατάστημα


        script.
          var prevScrollpos = window.pageYOffset;
          window.onscroll = function() {
          var currentScrollPos = window.pageYOffset;
          if (prevScrollpos > currentScrollPos) {
          document.getElementById("navbar").style.top = "0";
          } else {
          document.getElementById("navbar").style.top = "-50px";
          }
          prevScrollpos = currentScrollPos;
          }
