extends layout

block content
  title Home

  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')

  body

  #navbar
      a.active(href='#home')
       i.glyphicon.glyphicon-home
      a(href='#news') Προσφορές
      a(href='#contact') Επικοινωνία
      a(href='#app') OPT App
      a(href='login', style='float:right') Σύνδεση
      a(href='register', style='float:right') Εγγραφή

  .sidenav
        input(type='text', target="m",  placeholder='Αναζήτηση..')
        a(href='#about') Κατηγορίες
        a(href='#services') Κατάστημα
        
