doctype html

//- use if your pug files have similarities to avoid copying large blocks of same code.

html
  head
    link(href='css/style.css', rel='stylesheet')

.container
  != messages('message', locals)
  if errors
    each error, i in errors
      div(class="alert alert-error") #{error.msg}      
  body
    block content
    //br  //br is a line break
    //hr  //hr is a thematic break
    footer
      p Copyright &copy; Online Price Tracker 2018
