doctype html

//- use if your pug files have similarities to avoid copying large blocks of same code.
html
  head
    link(rel='stylesheet', href='../css/logreg.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    #navbar 
        a.active(href='/')
          i.glyphicon.glyphicon-home 
        if boollogin
          if username=="admin" 
            .dropdown(style='float:left')
             button.dropbtn Διαγραφή
             .dropdown-content
               a(href='/products/products_delete') Διαγραφή Προιόντος
               a(href='/shops/delete') Διαγραφή Καταστήματος
               a(href='/prices/prices_delete') Διαγραφή Τιμής         
              
          .dropdown(style='float:left')
           button.dropbtn Προσθήκη
           .dropdown-content
             a(href='/shops/add') Προσθήκη Καταστήματος
             a(href='/products/products_add') Προσθήκη Προιόντος
             a(href='/prices/prices_add') Προσθήκη Τιμής
                 
          .dropdown(style='float:left')
           button.dropbtn Αναζήτηση
           .dropdown-content
             a(href='/products') Αναζήτηση Προιόντος
             a(href='/shops/search') Αναζήτηση Καταστήματος
          a(href='logout', style='float:right') logout
          
          .dropdown
           button.dropbtn #{username}
           .dropdown-content
             a(href='/products/myproducts') Τα Προιόντα μου
             if username=="admin" 
               a(href='/shops/update') Update Καταστήματος
        else
          .dropdown(style='float:left')
           button.dropbtn Αναζήτηση
           .dropdown-content
             a(href='/products') Αναζήτηση Προιόντος
             a(href='/shops/search') Αναζήτηση Καταστήματος
          a(href='login', style='float:right') Σύνδεση
          a(href='register', style='float:right') Εγγραφή
                      

  body
    .left
        != messages('message', locals)
        if errors
          each error, i in errors
            div(class="alert alert-error") #{error.msg}

  block content
  br
  footer
      p(class="bottom") Copyright &copy; Online Price Tracker 2018

      script.
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
        } else {
        document.getElementById("navbar").style.top = "-50px";
        }
        prevScrollpos = currentScrollPos;
        }
