doctype html

//- use if your pug files have similarities
  to avoid copying large blocks of same code.
  
  in the new file:
  extends layout
  
  block content
    code here


html
  head
    title Online Price Tracker

  body
    block content
    br
    hr
    footer
      p Copyright &copy; Online Price Tracker 2018
