extends layout

block content
		form(action='/login', method='POST')
			title Login
			.login-page
				.form
					input(type='text', placeholder='Username', name='username')
					input(type='password', placeholder='Password', name='password')
					button log in
					p.message
						| Not Registered? 
						a(href='register')  Register 
