doctype html
html
	head
		title Login Form Design
		link(href='css/style.css', rel='stylesheet')
	body
		h1 #{title}
		.login-page
			.form
				form.login-form
					input(type='text', placeholder='Username', name='username')
					input(type='password', placeholder='Password', name='password')
					button log in
					p.message
						| Not Registered? 
						a(href='register')  Register 
