extends layout2

block content
      title My Products
      .register-page
        .form
          p(style= 'color: white; font-size: 24px') Τα Προιόντα σας
          if Product
           each prod, i in Product
            #narrow
             div(class="display_products")
               div(class="display_products")
                div(style= 'color: white; font-size: 17px; float: left; margin-top: 10%')  Όνομα Προϊόντος: #{prod.name}
                div(style= 'color: white; font-size: 17px; float: left; margin-bottom: 10%')  Περιγραφή: #{prod.description}
                form#myform(action='/products/products_updatep',method='POST')
                    button(name='subject', type='submit', value=prod.id) Μεταβολή
