<html>
<head>
<title>Registration Form Design</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="register-page">
	<div class="form">
		<form class="register-form">
		<input type="text" placeholder="Username" name="username"/>
		<input type="password" placeholder="Password" name="password"/>
		<input type="password" placeholder="Confirm password" name="password2"/>
		<input type="text" placeholder="Name" name="name"/>
		<input type="text" placeholder="Surname" name="surname"/>
		<button>Create</button>
		<p class="message">Already Registered? <a href="login.html">Log in</a></p>

	</form>
	
	</div>
	</div>
 

</body>
</html>
	
