extends layout

block content
    form(action='/register', method='POST')
      title Registration
      .register-page
        .form
          input(type='text', placeholder='Όνομα χρήστη', name='username')
          input(type='password', placeholder='Κωδικός πρόσβασης', name='password')
          input(type='password', placeholder='Επιβεβαίωση κωδικού πρόσβασης', name='password2')
          input(type='text', placeholder='Όνομα', name='namea')
          input(type='text', placeholder='Επώνυμο', name='surname')
          button Εγγραφη
          p.message
            | Έχετε ήδη λογαριασμό; 
            a(href='login') Σύνδεση
