extends layout

block content
    form(action='/register', method='POST')
      title Registration
      .register-page
        .form
          input(type='text', placeholder='Username', name='username')
          input(type='password', placeholder='Password', name='password')
          input(type='password', placeholder='Confirm password', name='password2')
          input(type='text', placeholder='Name', name='name')
          input(type='text', placeholder='Surname', name='surname')
          button Sign Up
          p.message
            | Already Registered? 
            a(href='login') Log in
