extends layout2

block content
    form(action='/products/products_update', method='POST')
      title Update
      .register-page
        .form
          p Tο ID του Προιόντος σας #{idp}
    
          p Συμπληρώστε τα στοιχεία του Προιόντος που θέλετε να μεταβάλετε
          input(type='text', placeholder='Όνομα Προιόντος', name='name_in')
          input(type='text', placeholder='Περιγραφή Προιόντος', name='description_in')
          input(type='text', placeholder='Κατηγορία Προιόντος', name='category_in')
          input(type='text', placeholder='Tags Προιόντος ', name='tags_in')
          input(type='hidden', name='id_in', value=idp)
          button Μεταβολή τώρα!
         
