@import url("style.css");

.add-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.delete-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.update-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.details-page{
	width: 360px;
	padding: 5% 0 0;
	margin: auto;
}

.display_shops{
	color: #000;
	font-family: "Roboto", sans-serif;
	position: relative;
	width: 100%;
}
.display_shops a{
	color: #12448B;
}

.register-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

#det{
	top: 20%;
	position: relative;
	z-index: 1;
	background: rgba(255, 255, 255, 0.56);
	width: auto;
	padding: 45px;
	text-align: center;
}

#check_coords{
	width: 500px;
	position: absolute;
	bottom: 57%;
}
