body{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../static/this.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

footer{
	position: fixed;
  bottom: 0;
  width: 300px;
}

p{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
		color: #FFF;
}

.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
}

.register-page{
	width: 360px;
	padding: 5% 0 0;
	margin: auto;
}


.form{
	position: realtive;
	z-index: 1;
	background: rgba(186, 155, 125, 0.48);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline:1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #3a8d99;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover,.form button:active{
	background: #4667a0;
}

.form .message{
	margin: 15px;
	color: aliceblue;
	font-size: 14px;
}

.form .message a{
	color: #2f4f91;
}

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
	font-family: "Roboto", sans-serif;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
	font-family: "Roboto", sans-serif;
}
