body{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../static/this.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.left {
  float: left;
  width: 30%;
	padding-top: 5%;
}


.bottom{
	position: fixed;
	bottom: 0;
}

footer{
	position: fixed;
	bottom: 0;
	color: white;

}


.form{
	position: relative;
	z-index: 1;
	background: rgba(186, 155, 125, 0.48);
	max-width: 100%;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline:1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}


.form button{
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #3a8d99;
	width: 60%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
}

.form button:hover,.form button:active{
	background: #4667a0;
}

.form .message{
	margin: 15px;
	color: aliceblue;
	font-size: 14px;
}

.form .message a{
	color: #022e7c;
}



.alert-error{
	color: #a94442;
	background-color: #f2dede;
	font-family: "Roboto", sans-serif;
	position: relative;
	width: 100%;
}

.alert-success_msg{
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	font-family: "Roboto", sans-serif;
}


.active {
	background-color: #e5ca54;
}

#navbar {
    background-color: #111;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.3s;
}

#navbar a {
		float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #dbd899;
    color: black;
}

.sidenav {
  height: 80%;
  width: 15%;
  position: fixed;
  top:10%;
  z-index: 1;
  left: 0;
  background-color: rgba(0, 0, 0, 0.73);
  overflow-x: hidden;
  padding-top: 2%;
}

.sidenav a {
  padding: 9px 8px 6px 16px;
  text-decoration: none;
  font-size: 180%;
  color: #fff;
  display: block;
}

.sidenav a:hover {
  color: #e5ca54;
}

input[target="m"]{
	font-family: "Roboto", sans-serif;
	outline:1;
	background: #dae1ed;
	width: 90%;
	border: 0;
	margin: 10px 5px;
	padding: 12px ;
	box-sizing: border-box;
	font-size: 14px;
}
input[target="m"] a:active{
	color: #dae1ed
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
